apiVersion: apps/v1
kind: Deployment
metadata:
  name: ps-site-ui
spec:
  selector:
    matchLabels:
      app: ps-site-ui
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: ps-site-ui
    spec:
      containers:
        - name: ps-site-ui
          image: gcr.io/sylvan-bonbon-317613/ps-site-ui:0.0.2
          env:
            - name: ENV
              value: "dev"
