@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'Now-Bold';
  font-style: normal;
  font-display: swap;
  src: local('Now-Bold'), url(/fonts/Now-Bold/Now-Bold.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'sans-serif'
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif' !important
}
